

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<html>
<script>
	function loadNow(){
		$("#chatbox").load("/chat #chatbox");
	}
	setInterval(function(){loadNow()}, 1000);
</script>
<div id="chatbox">
	{% for line in chat %}
		{{ line }}<br><br>
	{% endfor %}
	</div>
		<form method='GET' name='chattext'>
			Name: <input type="text" name="name"><br>
			Comment: <input type="text" name="line"><br>
			<input type="submit" value="Comment">
		</form>
	{{ debug }}
</html>
